.btn-circle.btn-xl {
  width: 140px;
  height: 140px;
  padding: 20px 32px;
  border-radius: 70px;
  font-size: 48px;
  line-height: 2.66;
}

.btn-circle.btn-xl-1 {
  background-image: url('../images/circulo-1.png');
  background-size: 140px;
  background-color: #FCC133; /* Cambia el color de fondo a naranja */
  border-color: #FCC133; /* Cambia el color del borde a naranja */
  width: 140px;
  height: 140px;
  padding: 20px 32px;
  border-radius: 70px;
  font-size: 48px;
  line-height: 2.66;
}

.btn-circle.btn-xl-2 {
  background-image: url('../images/circulo-2.png');
  background-size: 140px;
  background-color: #FCC133; /* Cambia el color de fondo a naranja */
  border-color: #FCC133; /* Cambia el color del borde a naranja */
  width: 140px;
  height: 140px;
  padding: 20px 32px;
  border-radius: 70px;
  font-size: 48px;
  line-height: 2.66;
}

.btn-circle.btn-xl-3 {
  background-image: url('../images/circulo-3.png');
  background-size: 140px;
  background-color: #FCC133; /* Cambia el color de fondo a naranja */
  border-color: #FCC133; /* Cambia el color del borde a naranja */
  width: 140px;
  height: 140px;
  padding: 20px 32px;
  border-radius: 70px;
  font-size: 48px;
  line-height: 2.66;
}

.btn-circle.btn-xl-4 {
  background-image: url('../images/circulo-4.png');
  background-size: 140px;
  background-color: #FCC133; /* Cambia el color de fondo a naranja */
  border-color: #FCC133; /* Cambia el color del borde a naranja */
  width: 140px;
  height: 140px;
  padding: 20px 32px;
  border-radius: 70px;
  font-size: 48px;
  line-height: 2.66;
}

.btn-circle.btn-xl-5 {
  background-image: url('../images/circulo-5.png');
  background-size: 140px;
  background-color: #FCC133; /* Cambia el color de fondo a naranja */
  border-color: #FCC133; /* Cambia el color del borde a naranja */
  width: 140px;
  height: 140px;
  padding: 20px 32px;
  border-radius: 70px;
  font-size: 48px;
  line-height: 2.66;
}

.btn-circle.btn-xl-6 {
  background-image: url('../images/circulo-6.png');
  background-size: 140px;
  background-color: #FCC133; /* Cambia el color de fondo a naranja */
  border-color: #FCC133; /* Cambia el color del borde a naranja */
  width: 140px;
  height: 140px;
  padding: 20px 32px;
  border-radius: 70px;
  font-size: 48px;
  line-height: 2.66;
}

.btn-circle.btn-xl-7 {
  background-image: url('../images/circulo-7.png');
  background-size: 140px;
  background-color: #FCC133; /* Cambia el color de fondo a naranja */
  border-color: #FCC133; /* Cambia el color del borde a naranja */
  width: 140px;
  height: 140px;
  padding: 20px 32px;
  border-radius: 70px;
  font-size: 48px;
  line-height: 2.66;
}

.btn-circle.btn-xl-8 {
  background-image: url('../images/circulo-8.png');
  background-size: 140px;
  background-color: #FCC133; /* Cambia el color de fondo a naranja */
  border-color: #FCC133; /* Cambia el color del borde a naranja */
  width: 140px;
  height: 140px;
  padding: 20px 32px;
  border-radius: 70px;
  font-size: 48px;
  line-height: 2.66;
}

.btn-circle.btn-xl-9 {
  background-image: url('../images/circulo-9.png');
  background-size: 140px;
  background-color: #FCC133; /* Cambia el color de fondo a naranja */
  border-color: #FCC133; /* Cambia el color del borde a naranja */
  width: 140px;
  height: 140px;
  padding: 20px 32px;
  border-radius: 70px;
  font-size: 48px;
  line-height: 2.66;
}

.btn-circle.btn-xl-0 {
  background-image: url('../images/circulo-0.png');
  background-size: 140px;
  background-color: #FCC133; /* Cambia el color de fondo a naranja */
  border-color: #FCC133; /* Cambia el color del borde a naranja */
  width: 140px;
  height: 140px;
  padding: 20px 32px;
  border-radius: 70px;
  font-size: 48px;
  line-height: 2.66;
}

.btn-circle.btn-xl-k {
  background-image: url('../images/circulo-k.png');
  background-size: 140px;
  background-color: #FCC133; /* Cambia el color de fondo a naranja */
  border-color: #FCC133; /* Cambia el color del borde a naranja */
  width: 140px;
  height: 140px;
  padding: 20px 32px;
  border-radius: 70px;
  font-size: 48px;
  line-height: 2.66;
}

.btn-circle.btn-xl-del {
  background-image: url('../images/circulo-del.png');
  background-size: 140px;
  background-color: #FCC133; /* Cambia el color de fondo a naranja */
  border-color: #FCC133; /* Cambia el color del borde a naranja */
  width: 140px;
  height: 140px;
  padding: 20px 32px;
  border-radius: 70px;
  font-size: 48px;
  line-height: 2.66;
}

.btn-circle.btn-xl-der {
  background-image: url('../images/flecha-circulo-derecha.png');
  background-size: 140px;
  background-color: #FCC133; /* Cambia el color de fondo a naranja */
  border-color: #FCC133; /* Cambia el color del borde a naranja */
  width: 140px;
  height: 140px;
  padding: 20px 32px;
  border-radius: 70px;
  font-size: 48px;
  line-height: 2.66;
}

.popup {
    background-color: #ffffff;
    color: #888888;
    height: 245px;
    left: 100%;
    padding: 20px;
    position: fixed;
    right: 30%;
    top: 25%;
    width: 550px;
    z-index: 101;
    -moz-box-shadow: 0px 0px 10px 1px #888888;
    -webkit-box-shadow: 0px 0px 10px 1px #888888;
    box-shadow: 0px 0px 10px 1px #888888;
    border-radius:10px;
    -moz-border-radius:10px;
}
 
.overlay {
    background: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    opacity:0.5;
}
 
a.close {
    background: url("cancel.png") repeat scroll left top transparent;
    cursor: pointer;
    float: right;
    height: 26px;
    left: 32px;
    position: relative;
    top: -33px;
    width: 26px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
#block {
  height: 1920px;
  background-color: rgba(0, 0, 0, 0.6);
}

.altura{
  height: 1920px;
}

h1 { color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 62px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase; }

.stroke {
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 1px white;
  }

  .inputgrande {
    width: 300px;
    height: 80px;
    font-size: 48px;
  }

